/*头条样式*/
/*幻灯*/

 html{font-size:100px;}
.swiper-pagination{text-align:right;bottom: .11rem !important;}
.swiper-pagination-bullet{background:#ecf0f1;margin:0 3px !important;width: .12rem;height: .12rem;}
.swiper-pagination-bullet-active{background:white;}
.swiper-slide a{position:relative;display:block;}
.swiper-slide a p{height: .5rem;font-size: .26rem;line-height: .5rem;background: rgba(0, 0, 0, .4);color:white;position:absolute;bottom: 0;left: 0;
text-indent: .15rem;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;
display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction{width:97.5%;}
.slide2{padding: 0 0.18rem;max-width:94%;}

.swiper-slide2,.swiper-slide2 a{width:1rem;margin-left:0 !important;margin-right:0 !important;text-align:center;font-size:0.28rem;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;
-ms-flex-align:center;-webkit-align-items:center;align-items:center;background-color: #F3F3F3;
linde-height:0.725rem;color:#6B6B6B;-webkit-tap-highlight-color:rgba(0,0,0,0);height:0.719rem;}
.swiper-slide-active{color:#B00404;}
.swiper_on{color: #B00404;}
/*总工会头条*/
.tt1 .tt_gg{height: auto;overflow: hidden;padding-top: 0.1rem;}
.tt1 .tt_gg img{width: 100%;}
/*文件*/
#wj .tt h3{background:url(../images/li.png) left 2px no-repeat;text-indent:0.35rem;}

/*微信*/
#wb .tt h3 img{width:1.2rem;height:1rem;}
#wx .tt h3 img{width:1.2rem;height:1rem;}
/*时间*/
.zh i{font-size:0.2rem;color:#999999;padding-right:0.1rem;font-style: normal;}

/*通栏广告*/
.tt_gg{height: auto;overflow: hidden;padding-top: 0.1rem !important;}
.tt_gg  img{width: 100% !important;}

/*高度自适应*/
#zt .tt h3{height: auto;}

#inner{padding-top:0.7rem;}

/*图片导航*/
.swiper-slide3{text-align:center;font-size:0.24rem;/* Center slide text vertically */
display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;width:16.6%;padding:0.1rem 0;background:#FFF;}

/*服务*/
.list_fw .tt{margin-bottom:0.2rem;background-color:#FFF;padding:0.1rem 0.2rem;}
.list_fw .tt img{height:2.5rem;}
.list_fw .tt h3{width:100%;height:0.5rem;line-height:0.5rem;text-align:left;text-indent:0.1em;font-size:0.25rem;}
/*专题*/
.list_zt .tt h3{font-size:0.33rem}
.list_zt .tt img{height:2.5rem;padding:0.1rem 0;}
.fw .news{background-color:#F5F5F5;padding:0;}

/*应急专题list*/
.zttype p{font-size:0.22rem;line-height:2em;padding-top:0.1rem;text-indent:2em;color:#17ABEC;}

/*环保局*/
#wx .lw h3 {margin: 0.1rem 0 0.1rem;max-height: 3em;line-height: inherit;}
.list .lw img {width: 0.6rem;	height: 0.6rem;			}
/*环保局天气*/
 #tq .tt h3{font-size:0.28rem;height:auto;margin:0}
.aqi{font-size:1.2rem !important;text-align:center}
		.gxsj,h3,.sywrw,.jkyx,.jycs{color:#000;font-weight:100;font-size:0.28rem;}
                .kqzldj,.kqzlzk{font-size:0.3rem;}
		.kqzlzk{margin-left:38%;}
		#tq .tt{padding:0.2rem 0 0.2rem 0;}
                #tq .tt h5{font-size:0.28rem;}

/*show*/

/*
p#back-to-top{position:fixed;display:none;bottom:.22rem;right:.01rem;z-index: 9999;}
p#back-to-top a{text-align:center;text-decoration:none;display:block;width:1rem;-moz-transition:color 1s;-webkit-transition:color 1s;-o-transition:color 1s}
p#back-to-top a:hover{color:#979797}
p#back-to-top a span{background:url(images/top.png) no-repeat; background-size: 60%; border-radius:6px;display:block;height:1rem;width:1rem;-moz-transition:background 1s;-webkit-transition:background 1s;-o-transition:background 1s;}
#back-to-top a:hover span{background:url(images/top.png) no-repeat;background-size: 60%;}
#back-to-top a.share-ico span{background: url(images/share.png) no-repeat; background-size: 60%;display:none;}
#displaypagenum{
		visibility: hidden;
	}
#inner{padding:0.2rem 0.3rem;}
#inner .origin{font-size: 0.26rem;padding: 0 0 0.1rem;border-bottom: 2px solid #d9d9d9;}
#inner h1{font-weight: bold;font-size: 0.35rem;}
#inner p{font-size:0.32rem;}
#inner img{max-width: 100% !important;}
#inner .artical-con p{text-indent: 2em;}*/